*{
	margin : 0px;
	padding: 0px;
}

.banner
{   
	width: 100em;
    display: table-cell;
    vertical-align: middle;
	background-color: rgba(0, 255, 0, 0.3);
	

}
h1.s1{
	text-align: center;
	font-size: 2vw;
	font-style: italic;
	font-weight: bold;
        padding-left: 10px;
        padding-right:10px:

}
.btn
{
	text-transform: uppercase;
}


/*for plants page */
.pimg
{
	height: 355px;
	width: 350px;
	border: 3px solid #555;
}
.h5c
{
	font-size: 1.2rem;
}
.pp
{
	font-size:100%;
	padding: 15px;
	font-weight: bold;
	text-align: justify;
}

.bw
{
	font-size: 9pt;
	width: 120px !important;
	height: 32px !important;
}

.bwbig
{
	font-size: 9pt;
	width: 200px !important;
	height: 32px !important;
}

/*@media screen and (max-width: 375px) and (min-width: 641px) and (max-width: 830px) {
 .bw
	{
	font-size: 9pt;
	width: 130px !important;
	height: 32px !important;
	}
.bwbig
{
	font-size: 9pt;
	width: 200px !important;
	height: 32px !important;
}
}*/


/*style for contact page*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
 
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media only screen and (min-width: 375px){
	h1.s1{
		font-size: 4vw
	}
	 .bw
	{
	font-size: 9pt;
	width: 120px !important;
	height: 32px !important;
	}
.bwbig
{
	font-size: 9pt;
	width: 200px !important;
	height: 32px !important;
}

.card{
	width:300px;
}
	h4.info{
		font-size: 1rem;
	}
}



